@media screen and (max-width: 600px){
     
    header{
        /*border: 1px solid #FFFFFF;*/
        background-color: var(--roxo4);    
        
        width: 100%;

        display: flex;
        flex-direction: column;
        
        align-items: center;
        text-align: center;
    
        padding: 20px 40px;
    
    }
    
  
    .menu ul{
        display: block;
        list-style: none;
    }
    
    .menu ul li{
        margin: 20px;
    }
    
    main{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 92%;
    }

    .dash-principal{
        border: 1px solid var(--roxo3);
        border-radius: 0px 10px 0px 10px;
        box-shadow: 2px 2px 5px 0px #000;
        
        width: 100%;
        height: 100%;
        
        margin: 20px;
        
        background-color: var(--roxo2);
    }

       
}